################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeekBurger.LabelLoader/obj/Debug/netcoreapp2.0
