################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeekBurger.LabelLoader/obj/Debug/netcoreapp2.0
/GeekBurger.LabelLoader/bin/Debug/netcoreapp2.0
/.vs/GeekBurger.LabelLoader/v15/Server/sqlite3
/GeekBurger.LabelLoader.Contract/obj
/GeekBurger.LabelLoader.Contract/bin/Debug
